@model MajorDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>



<form class="col-md-6 grid-margin stretch-card" method="post">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Major</h4>
           
            <div class="form-group">
                <label asp-for="MajorName" class="control-label"></label>
                <input style="color: #fff" type="text" asp-for="MajorName" class="form-control form-control-lg" placeholder="MajorName" aria-label="MajorName">
                <span asp-validation-for="MajorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorDescription" class="control-label"></label>
                <input style="color: #fff" type="text" asp-for="MajorDescription" class="form-control form-control-lg" placeholder="MajorDescription" aria-label="MajorDescription">
                <span asp-validation-for="MajorDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorFounding" class="control-label"></label>
                <input style="color: #fff" type="date" asp-for="MajorFounding" class="form-control form-control-lg" placeholder="MajorFounding" aria-label="MajorFounding">
                <span asp-validation-for="MajorFounding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>FacultyID</label>
                <select style="color: #fff" asp-for="FacultyId" class="form-control" style="width:100%">
                    @foreach(var item in ViewBag.Facultys)
                    {
                        <option value="@item.FacultyId">@item.FacultyName</option>
                    }
                    
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-icon-text">
                <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit
            </button>
            <a asp-action="Index" asp-controller="Major" type="button" class="btn btn-danger btn-icon-text">
                <i class="mdi mdi-upload btn-icon-prepend"></i> Cancer
            </a>

        </div>

    </div>
</form>