@model CohortDto
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>



<form class="col-md-6 grid-margin stretch-card" method="post" asp-action="Delete" asp-controller="Cohort">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cohort</h4>
            <div class="form-group">
                <label asp-for="CohortId" class="control-label"></label>
                <input type="text" asp-for="CohortId" class="form-control form-control-lg" placeholder="CohortId" aria-label="CohortId">
                <span asp-validation-for="CohortId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CohortName" class="control-label"></label>
                <input type="text" asp-for="CohortName" class="form-control form-control-lg" placeholder="CohortName" aria-label="CohortName">
                <span asp-validation-for="CohortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CohortDescription" class="control-label"></label>
                <input type="text" asp-for="CohortDescription" class="form-control form-control-lg" placeholder="CohortDescription" aria-label="CohortDescription">
                <span asp-validation-for="CohortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDay" class="control-label"></label>
                <input type="date" asp-for="StartDay" class="form-control form-control-lg" placeholder="StartDay" aria-label="StartDay">
                <span asp-validation-for="StartDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDay" class="control-label"></label>
                <input type="date" asp-for="EndDay" class="form-control form-control-lg" placeholder="EndDay" aria-label="EndDay">
                <span asp-validation-for="EndDay" class="text-danger"></span>
            </div>
           

            <button type="submit" class="btn btn-primary btn-icon-text">
                <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit
            </button>
            <a asp-action="Index" asp-controller="Cohort" type="button" class="btn btn-danger btn-icon-text">
                <i class="mdi mdi-upload btn-icon-prepend"></i> Cancer
            </a>

        </div>

    </div>
</form>