@model WebMachineLearning.Models.Result

@{
    ViewData["Title"] = "Index";
}

<h1>Kết quả chuẩn đoán</h1>

<div class="col-6">
   
    
        <table class="table table-bordered">
            <thead>
               <tr>
                <th>Kết quả</th>
                <th>Khả năng mắc bệnh</th>
                <th>Khả năng không mắc bệnh</th>
               </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.PredictedOutcome)</td>
                    <td>@(Convert.ToDouble(Model.Diseaseincidence)*100)</td>
                    <td>@(Convert.ToDouble(Model.Undiseaseincidence) * 100)</td>
                </tr>
            </tbody>
        </table>
        
   
</div>
<div>
    
    <a asp-action="CheckResult">Kiêm tra lại</a>
</div>
