@model FacultyDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<form class="col-md-6 grid-margin stretch-card" method="post">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Faculty</h4>
            <p class="card-description"> Add classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>. </p>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input style="color: #fff" type="text" asp-for="FacultyId" readonly class="form-control form-control-lg" placeholder="FacultyId" aria-label="FacultyId">
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyName" class="control-label"></label>
                <input style="color: #fff" type="text" asp-for="FacultyName" class="form-control form-control-lg" placeholder="FacultyName" aria-label="FacultyName">
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyDescription" class="control-label"></label>
                <input style="color: #fff" type="text" asp-for="FacultyDescription" class="form-control form-control-lg" placeholder="FacultyDescription" aria-label="FacultyDescription">
                <span asp-validation-for="FacultyDescription" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-icon-text">
                <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit
            </button>
            <a asp-action="Index" asp-controller="Faculty" type="button" class="btn btn-danger btn-icon-text">
                <i class="mdi mdi-upload btn-icon-prepend"></i> Cancer
            </a>

        </div>

    </div>
</form>
