@model ChuongTrinhDaoTao.WebMVC.Models.TuitionDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h4>TuitionDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TuitionId"  class="control-label"></label>
                <input hidden style="color: #fff" asp-for="TuitionId" class="form-control" />
                <span asp-validation-for="TuitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TuitionName" class="control-label"></label>
                <input style="color: #fff" asp-for="TuitionName" class="form-control" />
                <span asp-validation-for="TuitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TuitionDescription" class="control-label"></label>
                <input style="color: #fff" asp-for="TuitionDescription" class="form-control" />
                <span asp-validation-for="TuitionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input  style="color: #fff" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>TuitionTypeId</label>
                <select asp-for="TuitionTypeId" class="form-control" style="width:100%; color: #fff">
                    @foreach (var item in ViewBag.TuitionTypes)
                    {
                        @if (item.TuitionTypeId == Model.TuitionTypeId)
                        {
                            <option value="@item.TuitionTypeId" selected>@item.TuitionTypename</option>
                            {
                                continue;
                            }
                        }
                        <option value="@item.TuitionTypeId">@item.TuitionTypename</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>



